main{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-100px);
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: #0950CD;
    margin-bottom: 25px;
}

.form1{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2E7F0;
    box-shadow: #0000009c -2px 5px 15px;
    width: 1200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 5rem;
}

.help_container{
    display: inline-block;
    position: relative;
}

.help_contain{
    background-color: #04165D;
    box-shadow: 0 0 5px #04165D;
    border-radius: 15px;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: lighter;
    padding: 10px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: auto;
}

.recalc{
    color: #FFF;
    width: 15px;
    cursor: pointer;
}

.help{
    color: #FFF;
    width: 15px;
    cursor: help;
}

.help2{
    color: #0950CD;
    width: 15px;
    cursor: help;
}

.intro{
    background-color: #0950CD;
    box-shadow: #0000007c 0 4px 5px;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.intro_box{
    padding: 2rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title label{
    margin-right: 0.2rem;
}

.bar{
    width: 100%;
    display: flex;
    background-color: #FFF;
    color: #04165D;
    border: #0950CD 2px solid;
    box-shadow: #0950CD 0 0 5px;
    font-size: 1.2rem;
    border-radius: 20px;
}

.bar span{
    padding: 3px 5px;
    background-color: #C2E7F0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bar input{
    width: 100%;
    flex: 1;
    outline-style: none;
    padding: 4px 5px;
    border: 0;
    border-radius: 20px;
    font-size: 1.2rem;
}


.subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.subtitle label{
    margin: 0.2rem;
}

.date_box{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.date_box input{
    margin-top: 0.5rem;
    font-size: 1rem;
    border: #0950CD 2px solid;
    border-radius: 25px;
    box-shadow: #0950CD 0 0 5px;
    padding: 4px 10px;
}

.ent_value{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2%;
}

.ent_main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.prest_value{
    display: flex;
    width: 100%;
    justify-content: center;
}

.prest_main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.prest_contain{
    width: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jbar{
    display: flex;
    background-color: #FFF;
    color: #04165D;
    border: #0950CD 2px solid;
    box-shadow: #0950CD 0 0 5px;
    font-size: 1.2rem;
    border-radius: 20px;
    width: 100%;
}

.check{
    margin-left: 0.5rem;
}

.jbar span{
    padding: 3px 5px;
    background-color: #C2E7F0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.jbar input{
    width: 100%;
    flex: 1;
    outline-style: none;
    padding: 4px 5px;
    border: 0;
    border-radius: 20px;
    font-size: 1.2rem;
    text-align: right;
}

.input-disabled{
    opacity: 0.5; 
    background-color: #f0f0f0;
    color: #888;
}

.bank_value{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2%;
    margin-bottom: 2rem;
}

.bank_main{
    width: 28.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
}

.bank_contain{
    width: 28.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.if_contain{
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 5%;
    margin: 0 0 2rem 2rem;
}

.if_main{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_add{
    display: flex;
    width: 100%;
    justify-content: center;
}

.box_main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 2rem;
}

.remove{
    border: none;
    background-color: #0950CD;
    color: #FFF;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.remove:hover{
    background-color: #04165D;
    transform: scale(1.1);
}

.add_input{
    border: 0;
    background-color: #0950CD;
    color: #FFF;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-5.5rem);
    transition: all 0.5s;
}

.add_input:hover{
    opacity: 0.8;
    transform: translateY(-5.5rem) scale(1.2);
}

.form2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2E7F0;
    box-shadow: #0000009c -2px 5px 15px;
    width: 1200px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 2rem;
    transform: translateY(-20%);
}

.calc_contain{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #C2E7F0;
    transform: translateY(-0.6rem);
}

.calc_contain::after{
    content:'';
    border-radius: 1rem;
    background-color: #0950CD;
    width: 35%;
    height: 5px;
    top: -0.5rem;
    left: 5%;
    position: absolute;
}

.calc_contain::before{
    content:'';
    border-radius: 1rem;
    background-color: #0950CD;
    width: 35%;
    height: 5px;
    top: -0.5rem;
    right: 5%;
    position: absolute;
}

.calc_button{
    margin: 1rem;
    border: 0;
    background-color: #0950CD;
    color: #FFF;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: #0000007c 0 0 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.calc_button:hover{
    opacity: 0.8;
    transform: scale(1.2);
}

.prop_result{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.allot_contain{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.allot_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

@media screen and (max-width: 1250px) {
    
    .help_contain{
        font-size: 0.7rem;
        text-align: center;
        padding: 8px;
        width: 120px;
        white-space: normal;
    }
    
    .form1, .form2{
        width: 95vw;
        padding-bottom: 3rem;
    }

    .add_input{
        transform: translateY(-4rem);
    }

    .add_input:hover{
        transform: translateY(-4rem) scale(1.1);
    }

    .calc_contain::after{
        top: 0;
    }
    
    .calc_contain::before{
        top: 0;
    }

    .form2{
        transform: translateY(-17%);
    }

}

@media screen and (max-width: 1000px) {
    .calc_contain::after{
        width: 27.5%;
        left: 7.5%;
    }
    
    .calc_contain::before{
        width: 27.5%;
        right: 7.5%;
    }
}

@media screen and (max-width: 600px) {
    
    main{
        transform: translateY(0px)
    }

    h1{
        font-size: 1.5rem;
    }
    
    .help, .help2{
        width: 10px;
    }

    .title{
        font-size: 0.8rem;
        font-weight: 100;
    }

    .intro_box{
        padding: 1rem;
        width: 50%;
    }

    .bar{
        width: 100%;
    }

    .bar span, .bar input{
        font-size: 0.9rem;
        padding: 3px;
    }

    
    .subtitle{
        font-size: 0.7rem;
    }

    .date_box{
        font-size: 0.8rem;
        width: 30%;
        margin-left: 1rem;
    }

    .date_box input{
        font-size: 0.7rem;
        width: 80%;
        margin-top: 0.4rem;
    }

    .jbar, .jbar input{
        font-size: 0.8rem;
    }

    .jbar span{
        padding: 2px;
    }

    .add_input{
        transform: translateY(-3rem);
        padding: 0.5rem;
        font-size: 1rem;
    }

    .add_input:hover{
        transform: translateY(-3rem) scale(1.1);
    }

    .form2{
        transform: translateY(-12%);
    }

    .calc_contain{
        transform: translateY(-0.8rem);
    }

    .calc_button{
        padding: 0.5rem;
        font-size: 1rem;
    }

    .if_contain{
        margin: 0 0 1rem 0.5rem;
    }

    .box_main{
        margin: 0 0 1rem 0.5rem;
    }

    .remove{
        margin: 5px;
        font-size: 0.5rem;
        width: 0.8rem;
        height: 0.8rem;
    }

    .ent_value{
        margin-top: 1rem;
    }

    .bank_value{
        margin-bottom: 1rem;
    }

    .allot_result{
        width: 40%;
    }
}