*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}